.left-col.col-md-4.col-lg-offset-1
  %address.col-md-offset-1
  %h2
    Idea Party!

  %p
    What's between you and your artistic goals? Want to some help getting from here to there from your peers?

  %p
    An Idea Party is simple: Six artists sit in a circle. Each artist names a challenge they are working on, and the group brainstorms resources to meet that challenge. Whether you need help refining an idea, access to space or equipment, a connection to a welder or web designer, or information about places where your work can thrive, you can find it at an Idea Party.

  %p
    This simple but powerful format has helped artists in every discipline and at every career level: "Suddenly you are surrounded by strangers who want to help, and who can and do."

  %p
    What are you waiting for? Sign up and move forward!

  %p
    Idea Parties are a partnership between OurGoods and New York Live Arts.


