.left-col.col-md-5.col-lg-4.col-lg-offset-1
  %address.col-md-offset-1
    %strong Asset Mapping For Artists
    %br/
    Monday, September 30rd
    %br/
    6:30-8:30pm
    %br/
    New York Live Arts
    %br/
    219 W 19th St (btw 7th and 8th Aves)
  %p
    How do we operate from a place of abundance rather than scarcity? Can we utilize the skills, strengths, and resources that already exist in our communities to support each other’s work? New York Live Arts’ Associate Artist Program is excited to partner with OurGoods on an opportunity for us to share ideas and resources.
  %p
    As a group we will discover what we each HAVE to offer each other, and what we each NEED to get our work done. We’ll see what needs can get met within the room, and then identify and share resources outside the room, mapping existing abundance within our community.

