.left-col.col-md-5.col-lg-4.col-lg-offset-1
  %address.col-md-offset-1
    %strong Asset Mapping For Artists
    %br/
    Tuesday, December 17th
    %br/
    6:30-8:30pm
    %br/
    New York Live Arts
    %br/
    219 W 19th St (btw 7th and 8th Aves)
  %p
    How do we operate from a place of abundance rather than scarcity?  Can we utilize the skills, strengths, and resources that already exist in our communities to bolster and support each other’s work?  Could this process of exchange lead to a more vibrant cultural ecology, the realization of each other’s intrinsic and expansive value, and strategies that result in everyone ending up with more than they started with?
  %p
    Brooklyn Commune is excited to partner with OurGoods and New York Live Arts’ Associate Artist Program to create an opportunity for us to ask and answer these questions together.
  %p
    Working in small groups, we will each name a challenge we are working on, discover what resources exist within the room to meet that challenge, and then brainstorm additional resources outside the room. As we do so we will visualize all of these resources, creating a map of abundance within our community.

