.left-col.col-md-4.col-lg-offset-1
  %h2
    Idea Party!

  %p
    What resources do you need to get your artistic work done?

    %ul
      %li
        Space
      %li
        Equipment
      %li
        Advice
      %li
        Help
      %li
        Collaborators
      %li
        Ideas

  %p
    Bring your question/challenge/project to an Idea Party and leave with actionable ideas, a better understanding of your challenge, and a new support network.

  %p
    Idea Parties start promptly - please arrive five minutes early!

  %p
    Idea Parties are a partnership between OurGoods and New York Live Arts. (Thank you to Barbara Scher for originating the concept of an Idea Party!)