<div class="left-col col-md-4 col-lg-offset-1">
  <address class="col-lg-offset-1">
    <strong>Asset Mapping For Artists</strong><br>
    Monday, September 23rd<br>
    6:30-8:30pm<br>
    New York Live Arts<br>
    219 W 19th St (btw 7th and 8th Aves)
  </address>
  <p>
    EVENT DESCRIPTION Disrupt scenester
    VHS ethical. Austin adipisicing ullamco
    veniam, swag scenester eiusmod ennui
    banh mi. Blog delectus sartorial,
    dreamcatcher plaid skateboard in cliche
    selfies freegan High Life. Flexitarian
    mustache plaid elit master cleanse
    selfies. Salvia flexitarian consequat
    incididunt cornhole semiotics sustainable
    3 wolf moon narwhal. High Life locavore
    bicycle rights anim, bitters helvetica
    selvage meh cliche Schlitz. Accusamus
    YOLO retro et cray pork belly.
  </p>
</div><!-- //left-col -->