<div class="text-block col-lg-4 col-lg-offset-1">
  <address class="col-lg-offset-1">
    <strong>Asset Mapping For Artists</strong><br>
    Monday, September 23rd<br>
    6:30-8:30pm<br>
    New York Live Arts<br>
    219 W 19th St (btw 7th and 8th Aves)
  </address>
  <p>
    EVENT DESCRIPTION Disrupt scenester
    VHS ethical. Austin adipisicing ullamco
    veniam, swag scenester eiusmod ennui
    banh mi. Blog delectus sartorial,
    dreamcatcher plaid skateboard in cliche
    selfies freegan High Life. Flexitarian
    mustache plaid elit master cleanse
    selfies. Salvia flexitarian consequat
    incididunt cornhole semiotics sustainable
    3 wolf moon narwhal. High Life locavore
    bicycle rights anim, bitters helvetica
    selvage meh cliche Schlitz. Accusamus
    YOLO retro et cray pork belly.
  </p>
</div><!-- //col1 -->
<div class="text-block col-lg-5 col-lg-offset-2">

  <h2>Have something to share?</h2>

  <form class="form-horizontal col-lg-9" role="form">
    <div class="form-group">
      <input id="input-email" type="text" class="form-control" name="email" placeholder="Email" />
    </div>
    <div class="form-group">
      <input type="text" class="form-control" name="name" placeholder="Name" />
    </div>
    <div class="form-group">
      <input id="input-i-have" type="text" class="form-control" name="have" placeholder="I have..." />
    </div>
    <div class="form-group">
      <input id="input-i-want" type="text" class="form-control" name="need" placeholder="I need..." />
    </div>
    <p class="help-block text-center"><small>We won't send you spam. Unsubscribe at any time.</small></p>
    <p class="text-center">
      <button type="submit" class="btn btn-success btn-lg">SIGN ME UP</button>
    </p>
  </form>
</div><!-- //col2 -->
<div class="text-block col-lg-8 col-lg-offset-3 attribution">
  <small class="text-muted"><a href="http://www.flickr.com/photos/erwlas/6133364748/">Background picture by erwlas @flickr</a>. Used under <a href="http://creativecommons.org/licenses/by/2.0/deed.en">Creative Commons - Attribution</a>.</small>
</div>