<%= render 'left_col' %>

<div class="right-col col-md-5 col-sm-offset-2">
  <h2>Thanks, <%= @signup.name %>!</h2>

  <p>
    If you have questions or need to change your
    signup information, email <%= link_to "jen@ourgoods.org", "mailto: jen@ourgoods.org" %>
  </p>
</div><!-- //right-col