@import "bootstrap"
@import "bourbon"
@import "mixins"
@import "fonts"

@import "signups"

html
  background: image-url('bg.jpg') no-repeat center center fixed
  background-size: cover

body
  padding-top: 20px
  font-size: 16px
  font-family: "TradeGothicLTStdLight",serif
  background: transparent

header
  @extend .row

footer
  @extend .text-block
  @extend .col-lg-8
  @extend .col-lg-offset-3

h1, h2
  font-family: "TradeGothicLTStdRegular", Arial, sans-serif
  margin-top: 0

h1
  @extend .col-lg-1
  @extend .col-lg-offset-1
  font-weight: 400
  font-size: 40px
  margin-bottom: 20px

  a
    color: black

    &:hover
      text-decoration: none

.panel
  background-color: rgba(255, 255, 255, 0.9)
  padding: 30px

// override BS3's rounded corners where we dont want them
.btn, .form-control, .panel
  border-radius: 0