// Override B3 .panel adding a subtly transparent background

.left-col
  @extend .col-lg-4
  @extend .col-lg-offset-1
  @extend .text-block

.right-col
  @extend .col-lg-5
  @extend .col-lg-offset-2
  @extend .text-block

address
  @extend .col-lg-offset-1

#new_signup
  @extend .form-horizontal
  @extend .col-lg-9

////////////////////////////////////////////
// FLIP EFFECT
////////////////////////////////////////////

// entire container, keeps perspective
.flip-container
  @include perspective(1000)

  &.flipped .flipper
    @include transform(rotateY(180deg))

.flipper
  @include transition(0.6s)
  @include transform-style(preserve-3d)
  position: relative

// hide back of pane during swap
.front, .back
  @include backface-visibility(hidden)
  position: absolute
  top: 0
  left: 0

// front pane, placed above back
.front
  z-index: 2

// back, initially hidden pane
.back
  @include transform(rotateY(180deg))

// fallback for older browsers. class added by modernizr
.no-csstransforms3d
  .front, .back
    position: relative
  .front
    margin-bottom: 40px

  #how-it-works, #lets-do-it
    display: none